@import '../../../../style/variables.scss';

.categories {
    padding: 0.5rem;
    margin-inline: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(30vh, 45vh);
    grid-template-areas:
        "box1 tall-box"
        "box2 tall-box"
        "long-box long-box"
        "box3 box4";
    
    .category {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img:hover {
            filter: brightness(70%);
        }
        button:hover {
            background-color: black;
            color: white;
        }

        button {
            position: absolute;
            min-width: 100px;
            width: fit-content;
            height: 50px;
            padding: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            border: none;
            background-color: white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            font-family: $secondary-font;
        }

        &.box1 {
            grid-area: box1;
        }
        &.box2 {
            grid-area: box2;
        }
    
        &.tall-box {
            grid-area: tall-box;
            background-color: lightblue;
        }
    
        &.box3 {
            grid-area: box3;
        }
        &.box4 {
            grid-area: box4;
        }
        &.long-box {
            grid-area: long-box;
            background-color: lightgreen;
        }
    }
}

@media screen and (min-width: 600px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "box1 tall-box box3 box4"
            "box2 tall-box long-box long-box";
    }
}