@import 'style/variables.scss';

:root, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: beige;

  h1, h2 {
    font-family: $primary-font;
    color: red;
    text-shadow: 1px 1px black;
  }
  p {
    font-family: $secondary-font;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .app {
    min-height: 100vh;
    position: relative;
  }
}